<div class="">
    <h1><b style ="margin-left: 40%;">La posta di Dio Sole</b></h1>
  </div>
  <div class="">
    <h3 style ="margin-left: 38%;">Scrivi mail dirette al Dio Supremo</h3>
    <form (submit)="salvaEmail()" class="was-validated" >

        <div class="">
            <p for="destinatario" class="" style ="margin-left: 50%;">Destinatario:</p>
            <input type="text" class="" style="width:100%" id="pwd" name="destinatario" required [(ngModel)]="destinatario">
            

            <div class="valid-feedback">Ok ora forse ci siamo</div>
          <div class="invalid-feedback">no baby devi inssire mail di chi manda la MAILS.</div>

        </div>
        <p>  </p>
        <div class="">
            <p for="Oggetto" class="" style ="margin-left: 50%;">Oggetto:</p>
            <input type="Testo" class=""  style="width:100%" id="oggetto"  name="oggetto"required [(ngModel)]="oggetto" >
            
            <div class="valid-feedback">ok ora forse si, ho detto forse</div>
            <div class="invalid-feedback">Inserisci anche due paroline eh.</div>
        </div>
        <p>  </p>
        <div class="">
            <p for="testo" class="" style ="margin-left: 50%;">Testo:</p>
            <textarea class="" id="message"  style="width:100%" name="testo" required [(ngModel)]="testo"></textarea>
            <div class="valid-feedback">ok, dai sta volta te la faccio passare</div>
            <div class="invalid-feedback">Inserisci anche due paroline eh.</div>
        </div>
        
       
        <p>  </p>
        <div class="">
            <p for="mittente" class="" style ="margin-left: 50%;">La tua mail:</p>
            <input type="text" class="" id="uname"  name="mittente"  style="width:100%" required [(ngModel)]="mittente"> 
            <div class="valid-feedback">si dai, è valida</div>
          <div class="invalid-feedback">Inserisci la mail del babbo a cui devi inviare la mjials.</div>
            
        </div>
        <p>  </p>
        <button type="manda" class="" style ="margin-left: 50%;">Andiamo?, si andiamo   </button>
    </form>
  </div>
  <app-sent-mail [emails]="emails"></app-sent-mail>