<p>Ciao sono l'<span style="color: red; ">{{nome}}</span>component</p>
<app-second-component></app-second-component>
<app-third-component></app-third-component>
<app-fourth-component></app-fourth-component>
<div class="news">    
    <ul>    
       <li><h1>Titolo Notizia 1 </h1><p>Descrizione notizia 1</p></li>    
       <li><h1>Titolo Notizia 2 </h1><p>Descrizione notizia 2</p></li>    
       <li><h1>Titolo Notizia 3 </h1><p>Descrizione notizia 3</p></li>    
   </ul>    
   </div>  

   <tr *ngFor="let cantante of CONTANTI; let i = index">
    <td>{{cantante.name}}</td>
    <td>{{i}}</td>
  </tr>