<div class="">
    <h3>Qui ce la posta che ti e arrivata</h3>
    <ul class="flex-container">

        <li *ngFor="let email of emails; let $index = index" class="list-group-item" [style.background-color]="email.evidenziato ? 'brown' : 'white'">

            <div class="">
                <div>
                    <em style="margin-left: 50%;"> nuova mail da : {{ email.oggetto }} - <span style="color: rgb(0, 0, 0);"></span> - <span style="color: rgb(255, 255, 255); ">{{ email.mittente }}</span></em>
                </div>
                
                <div>
                    <button class="" (click)="toggleEmail($index)" style="color: rgb(255, 255, 255); margin-left: 50%; ">
                        {{ email.espansa ? 'Chiudi' : 'Espandi' }}
                    </button>
                    <button    *ngIf="email.espansa" class="" (click)="evidenziaSpeciale($index)" style="color: rgb(10, 10, 10); background-color: rgb(255, 255, 255)">Speciale</button>
                </div>
            </div>
            <div *ngIf="email.espansa" class="mt-2">
                <strong>Da:</strong> {{ email.destinatario }}<br>
                <strong>Testo:</strong> {{ email.testo }}
            </div>
            <p style="font-size: 60%;">(cmq i miei colori preferiti sono il rosso e il blu 😁) </p>
        </li>
    </ul>
  </div>
  <br>